body {
    background-image: url('imagens/background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.txt-titulo{
    text-align: center;
    font-family: 'Press Start 2p', cursive;
    font-size: 50px;
}

.adv-number{
    font-family: 'Press Start 2p', cursive;
    font-size: 8px;
    padding: 5px 10px 5px 10px;
}

section{
    background-color: #f8f4e8;
    width: 300px;
    height: 400px;
    padding: 100px;
    padding-top: 100px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

div#tentativas{
    text-align: right;
    border-radius: 10px;
    height: 20px;
    width: 250px;
    margin: auto;
    padding-bottom: 10px;
}

div#adivinhe{
    background-color: #f0ede2;
    text-align: center;
    border-radius: 10px;
    height: 150px;
    width: 250px;
    margin: auto;
    padding-right: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

div#respostas{
    background-color: #f0ede2;
    text-align: center;
    border-radius: 10px;
    height: 250px;
    width: 250px;
    margin: auto;
    padding-right: 15px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

p#rodape{
    text-align: center;
}
