body {
    background-image: url('imagens/background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

button {
    font-family: 'Press Start 2P', cursive;
    font-size: 12px;
    padding: 12px 24px;

    background: #f6d55c;            
    border: 2px solid #e4b63b;    
    border-radius: 6px;

    cursor: pointer;

    transition: 0.2s ease;
    box-shadow: 0 4px 0 #c6962d;  
}

button:hover {
    background: #ffe27b;
    transform: translateY(-3px); 
    box-shadow: 0 6px 0 #a87c22; 
}

button:active {
    transform: translateY(2px);  
    background: #e4b63b;
    box-shadow: 0 2px 0 #8a651a; 
}

.txt-titulo{
    text-align: center;
    font-family: 'Press Start 2p', cursive;
    font-size: 50px;
}

.adv-number{
    font-family: 'Press Start 2p', cursive;
    font-size: 8px;
    padding: 5px 10px 5px 10px;
}
.adv-number2{
    font-family: 'Press Start 2p', cursive;
    font-size: 8px;
}

section {
    background-color: #f8f4e8;
    width: 350px;          
    padding: 20px 10px;    
    margin: auto;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column; 
    gap: 20px;              
    align-items: center;     
}

div#tentativas {
    text-align: center;
    border-radius: 10px;
    height: 20px;
    width: 100%;
    padding-bottom: 10px;
}

div#adivinhe {
    background-color: #f0ede2;
    text-align: center;
    border-radius: 10px;
    width: 260px;
    padding: 15px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

div#respostas {
    background-color: #f0ede2;
    text-align: center;
    border-radius: 10px;
    width: 260px;
    height: 220px;
    padding: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    overflow-y: auto;  /* evita estourar */
}


p#rodape{
    text-align: center;
}
